  <h3><%= "#{t.site.hashtag_prefix}#{link_to_hashtag(hashtag)}#{t.site.hashtag_suffix}" %></h3>
  
  <% if hashtag %>
    <div id="hashtag_timeline" class="posts span-15">
      <%= erb :_posts, :locals => {:current => current, :page => page, :posts => get_hashtag_posts(hashtag, page), :older_link => "#{current}#{page+1}"} %>

	  <script type="text/javascript">
		function doCheck() {
		  doCheckInternal('<%= link_text("peek/hashtag/#{hashtag}/#{HashTag.new(hashtag).latest.id}") %>');
		}
	  </script>
    </div>
  <% end %>
