  <h3><%= "#{t.site.mentions_prefix}#{username}#{t.site.mentions_suffix}" %></h3>
  <div id="mentions_timeline" class="posts span-15">
    <%= erb :_posts, :locals => {:current => current,  :page => page, :posts => target_user.mentions(page), :older_url => older_url(current, page + 1) } %>

    <script type="text/javascript">
	  function doCheck() {
        doCheckInternal('<%= link_text("peek/mentions/#{@logged_in_user.latest_mention.id}") %>');
	  }
	</script>
  </div>
