  <h3><%= "#{t.site.mentions_prefix}#{username}#{t.site.mentions_suffix}" %></h3>
  <%= erb :_posts, :locals => { :page => page, :posts => target_user.mentions(page), :older_link => "#{current}#{page+1}" } %>
