  <div id="updateform" class="box">
    <% if posting_error %>
      <div class="error">
        <%= posting_error %>
      </div>
    <% end %>
    <form action="<%=link_text("post/#{current}")%>" method="post">
	  <%= username %><%= t.site.query %> <br />
      <textarea name="content" rows="3" columns="70" onkeyup="showLength(value);"></textarea><br />
      <input id="tweet" type="submit" value="Post"> <span id="inputLength"></span>
    </form>
  </div>
  <br/>