  <h3><%= t.site.posts_from_all_users %></h3>
  
  <div id="world_timeline" class="posts span-15">
    <div class="sticky">
      <%= erb :_posts, :locals => {:current => current, :page => page, :posts => get_hashtag_posts('sticky', page), :older_url => nil} %>
    </div>

    <%= erb :_posts, :locals => {:current => current, :page => page, :posts => get_world_posts(page), :older_url => older_url(current, page + 1) } %>

    <script type="text/javascript">
	  function doCheck() {
        doCheckInternal('<%= link_text("peek/world/#{Timeline.new('timeline').latest.id}") %>');
	  }
	</script>
  </div>
