
a {
  text-decoration: none;
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.right-align {
  text-align: right;
}

body {
  font-size: 100%;
}

.container {
}

#updateform {
  background: #EEE;
  margin: 10px;
}

.rightcolumn {
  
}

.box {
  padding: 10px;
  margin: 10px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  background: #EEE;
}

textarea {
  height: 5em;
  width: 500px;
}

.sticky {
  background-color: #eeffee;
}

.posts {
  margin: 10px;
  padding: 10px;
}

.posts .external-link {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #F4A460;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;

  font-size: 90%;
  color: #FFFFFF;
}

.posts .date {
  font-size: 75%;
  color: #999;
}

.posts .date :link {
  color: #77F;
}

.posts hr {
  margin: 0;
}

.posts .post {
  border-top: 1px dashed #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-list li {
  list-style: none;
}

.posts .hashtag {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #99CC33;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;

  font-size: 90%;
  color: #FFFFFF;
}

.posts .date .adddel_hashtag {
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #99CC33;
  padding-left: 4px;
  padding-right: 4px;

  font-size: 85%;
  color: #FFFFFF;
}

.posts .date .adddel_hashtag :link {
  color: #FFFFFF;
}

.posts .date .adddel_hashtag :visited {
  color: #FFFFFF;
}

